<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ostrich Manager</title>

    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">

    <script src="{%  static '/jquery/jquery.min.js' %}"></script>

</head>

<body>

    <div id="wrapper" class="toggled">


        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">Ostrich Manager</a>
                </li>

                {% if not user.is_authenticated %}
                <li>
                    <a href="/login/">Log in</a>
                </li>
                {% endif %}

                {% if user.is_authenticated %}
                <li>
                    <a href="/logout/">Logout: {{ user }}</a>
                </li>
                {% endif %}

                <li>
                    <a href="/breeders/">Breeders</a>
                </li>
                <li>
                    <a href="/eggs_babies/">Eggs and Babies</a>
                </li>
                <li>
                    <a href="/warehouse/">Warehouse</a>
                </li>
                <li>
                    <a href="/sold_birds">Sold Birds</a>
                </li>
                <li>
                    <a href="/budget/">Budget</a>
                </li>
                <li>
                    <a href="/seasons_statistics/">Seasons and statistics</a>
                </li>


            </ul>
        </div>



        <div id="page-content-wrapper">
            <div class="container-fluid">
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">show/hide menu</a> <br><br>

                {% block content %}
                <h1>Welcome to an amazing Ostrich Farm Manager!</h1>

                {% endblock %}

            </div>
        </div>

    </div>

    {% block footer %}
        <footer>
            <div id="footer_text_box">
                ver: {{ version }}
            </div>
        </footer>
    {% endblock %}




</body>

<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</html>
